<wdw-layout-one-column-main>

  <div *ngIf="hasPasswordBeenReseted$ | async; else passwordHasNotBeenReseted">
    <h1>Passort resetten</h1>
    <p>Wenn ein Account mit dieser Email Adresse existiert, senden
      wir dir eine Email mit Instruktionen zu. </p>
    <button md-raised-button routerLink="/login">Zum Login</button>
    {{ hasPasswordBeenReseted }}
  </div>

  <ng-template #passwordHasNotBeenReseted>
    <h1>Passort resetten</h1>
    {{ hasPasswordBeenReseted }}
    <p>Bitte gib deine Email an um dein Passwort zu resetten.</p>

    <form novalidate [formGroup]="form" (ngSubmit)="resetPassword(email.value)">
      <md-input-container>
        <input mdInput placeholder="Email" type="text" name="email" #email formControlName="email"/>
      </md-input-container>
      <button md-raised-button>Passwort resetten</button>
    </form>
  </ng-template>

</wdw-layout-one-column-main>
