<wdw-layout-two-column-main-right>

  <div class="column-main-content">
    <h1>Willkommen</h1>
    <p>Hier könnt ihr ein neues Spiel anlegen
      <button md-raised-button routerLink="/games/create-game$">Neues Spiel anlegen</button>
    </p>


  </div>

  <div class="column-right-content">
    <!--<div *ngIf="user | async as user" class="userblock">-->
    <!--<h2>Angemeldet als:</h2>-->
    <!--<pre>{{ user | json }}</pre>-->
    <!--{{ user.displayName }}-->

    <!--</div>-->


    <h3>Laufende Spiele</h3>
    <wdw-list-games></wdw-list-games>

  </div>

</wdw-layout-two-column-main-right>
